/* Attribute Selector */

/* .website a[target] {
    color: red;
} */

/* .website a[href="https://fullstack.edu.vn"] {
    color: red;
} */

/* .website a[href^="https://fullstack.edu.vn"] {
    color: red;
} */

/* .website a[href*="fullstack.edu.vn"] {
    color: red;
} */

.images a[href$=".jpg"] {
    color: red;
}
/* Regular Expression */