/* .products h2:not(.active):not(.ignore) {
    color: red;
} */

/* .products h2:first-child {
    color: red;
} */

/* .products h2:first-of-type {
    color: red;
} */

/* .products h2:last-child {
    color: green;
} */


/* .products h2:last-of-type {
    color: green;
} */

/* .products h2:nth-child(2n+2) {
    color: red;
} */

.products h2:nth-of-type(2n + 2) {
    color: red;
}